@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white mt-3">
    <h2>Lab 2 Microsoft Azure services</h2>
</div>
<div class="section">
  
    <div class="centered">
        <div class="button-container">
            <a class="btn" asp-area="" asp-controller="ImageAnalyze" asp-action="Index">Image Analyze</a>
            <a class="btn" asp-area="" asp-controller="Predict" asp-action="Index">Image Prediction</a>
            @* <a class="btn" asp-area="" asp-controller="FaceDetection" asp-action="Index">Face AI</a> *@
            <a class="btn" asp-area="" asp-controller="ImageAnalyze" asp-action="AnalyzedImages">Analyzed Images</a>

        </div>
        <div class="cell-wrapper">
            <div class="cell-core"></div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" class="cell">
                <lineargradient id="cell-gradient" x1="50%" y1="0%" x2="50%" y2="100%">
                    <stop id="startGradient" offset="0%">
                        <animate id="startGradientAnimation" attributeName="stop-color" repeatCount="indefinite"></animate>
                    </stop>
                    <stop id="endGradient" offset="100%">
                        <animate id="endGradientAnimation" attributeName="stop-color" repeatCount="indefinite"></animate>
                    </stop>
                </lineargradient>
                <path class="cell-path" fill="url('#cell-gradient')"></path>
            </svg>
        </div>
    </div>
</div>

                       