@model Lab2_ImageService.Models.UserModel
@using Lab2_ImageService.Helpers

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
<style>
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

</style>
</head>


<div class="text-center text-white mt-3">
    <h2>Lab 2 Microsoft Azure services</h2>
</div>
@if (!string.IsNullOrEmpty(TempData["LogoutMessage"] as string))
{
    <div class="alert alert-success mt-3 text-center">
        @TempData["LogoutMessage"]
    </div>
}
<div class="section">
 
    <div class="centered">
        <div class="button-container">
            <a class="btn-custom" asp-area="" asp-controller="ImageAnalyze" asp-action="Index">Image Analyze</a>
            <a class="btn-custom" asp-area="" asp-controller="Predict" asp-action="Index">Image Prediction</a>
            @* <a class="btn" asp-area="" asp-controller="FaceDetection" asp-action="Index">Face AI</a> *@
            <a class="btn-custom" asp-area="" asp-controller="ObjectDetect" asp-action="FindObject">Object Detaction</a>
            <a class="btn-custom" asp-area="" asp-controller="ImageAnalyze" asp-action="AnalyzedImages">Analyzed Images</a>
            @if(!MyHelpers.IsUserSignedIn(Context))
            {
                @* <a class="btn-custom" asp-area="" asp-controller="Login" asp-action="SignIn">Sign In</a> *@
                <a class="btn-custom" onclick="document.getElementById('id01').style.display='block'">Login</a>
            }
            else
            {
                <a class="btn-custom" asp-area="" asp-controller="Login" asp-action="LogOut">Logout</a>
            }
        </div>
        <div class="cell-wrapper">
            <div class="cell-core"></div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" class="cell">
                <lineargradient id="cell-gradient" x1="50%" y1="0%" x2="50%" y2="100%">
                    <stop id="startGradient" offset="0%">
                        <animate id="startGradientAnimation" attributeName="stop-color" repeatCount="indefinite"></animate>
                    </stop>
                    <stop id="endGradient" offset="100%">
                        <animate id="endGradientAnimation" attributeName="stop-color" repeatCount="indefinite"></animate>
                    </stop>
                </lineargradient>
                <path class="cell-path" fill="url('#cell-gradient')"></path>
            </svg>
        </div>
    </div>
</div>

<div id="id01" class="modal">

    <form class="modal-content animate" asp-action="SignIn" asp-controller="Login" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" required/>
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" required/>
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>


</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

