@using Lab2_ImageService.Models.ViewModel;
@model Lab2_ImageService.Models.ViewModel.ImageAnalysisViewModel

@{
    var objectsImages = ViewData["ObjectsImages"] as List<string>;
    var thumbnailsImages = ViewData["ThumbnailsImages"] as List<string>;
    var uploadedImages = ViewData["UploadedImages"] as List<string>;
}

<div class="content">
    <div class="analysisResult">

        <div class="text-center m-3">
            <h4 class="text-white">Lab2 | Image Analysis with Azure cognitive service</h4>
        </div>
        <div>

        </div>

        @using (Html.BeginForm("UploadImage", "ImageAnalyze", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="form-group">
                <label for="imageFile">Choose a local image file:</label>
                <input type="file" class="form-control-file" id="imageFile" name="LocalImageFile" accept=".jpg, .jpeg, .png">
            </div>

            <div class="form-group">
                <label for="imageUrl">OR Enter an image URL:</label>
                <input type="text" class="form-control" id="imageUrl" name="ImageUrl" placeholder="Enter image URL">
            </div>

            <hr />

            <div class="form-check">
                <label for="createThumbnail" class="">Create Thumbnail:</label>
                <input type="checkbox" class="" id="createThumbnail" name="CreateThumbnail">
            </div>
            
            <div class="form-check">
                <label for="createObjectBox" class="">Create Bounding box object(s):</label>
                <input type="checkbox" class="" id="createObjectBox" name="CreateObjectBox">
            </div>
            <div class="form-check">
                <label asp="createFaceBox" class="">Create Bounding box face(s):</label>
                <input type="checkbox" class="" id="createFaceBox" name="CreateFaceBox">
            </div>
            <div class="form-check">
                <label asp="CreateAll" class="">Draw and create everything:</label>
                <input type="checkbox" class="" id="createAll" name="CreateAll">
            </div>

            <div id="thumbnailFields" style="display: none;">
                <div class="form-group">
                    <label for="ThumbnailWidth">Thumbnail Width (in pixels):</label>
                    <input type="number" class="thumbnail-form form-control" id="thumbnailWidth" name="ThumbnailWidth" placeholder="default 50px">
                </div>

                <div class="form-group">
                    <label for="thumbnailHeight">Thumbnail Height (in pixels):</label>
                    <input type="number" class="thumbnail-form form-control" id="thumbnailHeight" name="ThumbnailHeight" placeholder="default is 50px">
                </div>
           </div>

            <button type="submit" class="btn btn-primary">Upload and Analyze</button>

            @if (!string.IsNullOrEmpty(ViewData["SuccessMessage"] as string))
            {
                <span class="badge badge-success successMessage">@ViewData["SuccessMessage"]</span>
            }

            @*Displaying Analysis results*@

            @Html.Partial("_DisplayResult")
        }
    </div>
</div>

@* scripts 
    * modal content
    * checkbox to work
*@
<script src="~/js/site.js"></script>

