@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.section {
    height: 100vh;
    opacity: 100%;
    display:flex;
    justify-content:center;
    align-items:center;  
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-custom {
    width: 180px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #2269b0 0%, #7eb03d54 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
}

    .btn-custom:hover {
        transition: 1000ms;
        padding: 10px 50px;
        transform: translateY(-0px);
        background: linear-gradient(90deg, #2269b0 0%, #7eb03d54 100%);
        color: #0066cc;
        border: solid 2px #0066cc;
        text-decoration: none;
    }


/* Define media query for mobile view */
@media (max-width: 768px) {
    .button-container {
        display: flex; /* Display the button container on smaller screens */
    }

    .cell-wrapper {
        display: none; /* Hide the SVG on smaller screens */
    }
}