* {
    box-sizing: border-box;
}


@import "bourbon";
@import url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css);


/*html {
    position: relative;
    min-height: 100%;
}*/

body {
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background: radial-gradient( circle at 50% 50%, var(--background-color-1), var(--background-color-2) );
    /*height: 100vh;*/
    /*background-position: center;*/
}

.button-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Adjust the spacing between buttons */
    margin-bottom: 20px;
    justify-content:center;

}

/* Hamburger menu */
.navbar-toggler {
    display: none;
}

@media (max-width: 600px) {
    .navbar-toggler {
        display: block;
    }
}

.analysisResult {
    border-radius: 5px 5px 5px 5px;
    /*margin-top: 10px;*/
    padding: 5px;
    background: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-3.jpg"), linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    background-color: gray;
    width: 100%;
    background-size: cover;
    background-blend-mode: hard-light;
    -webkit-animation: hue-rotate 3s linear infinite;
    animation: hue-rotate 3s linear infinite;
}

@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.col-sm-6 {
    margin-top: 10px;
}

.form-group {
    color: floralwhite;
/*    width: 300px;
    margin-left:auto;
    margin-right:auto;*/
}

.thumbnail-form {
    /*width: 100px;*/
/*    margin-left:auto;
    margin-right:auto;*/
}



