* {
    box-sizing: border-box;
}

body {
    place-items: center;
    min-height: 100vh;
    margin: 0;
   
    /*margin-bottom: 60px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: radial-gradient( circle at 50% 50%, var(--background-color-1), var(--background-color-2) );
    /*height: 100vh;*/
    /*background-position: center;*/
}

.container {
    /*padding-top: 60px;*/ /* Adjust the padding as needed to avoid content overlapping with the header */
    flex: 1;
}

.footer {
    flex-shrink: 0;
    width: 100%;
}

.button-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Adjust the spacing between buttons */
    margin-bottom: 20px;
    justify-content:center;

}


.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 106, 0); 
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(92, 135, 157); 
}
.navbar-light .navbar-nav .nav-link:active {
    color: yellow; 
}

.navbar-toggler {
    background-color: floralwhite;
}

.analysisResult {
    border-radius: 5px 5px 5px 5px;
    /*margin-top: 10px;*/
    padding: 5px;
    background: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-3.jpg"), linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    background-color: gray;
    width: 100%;
    background-size: cover;
    background-blend-mode: hard-light;
    -webkit-animation: hue-rotate 3s linear infinite;
    animation: hue-rotate 3s linear infinite;
}

.col-sm-6 {
    margin-top: 10px;
}

.form-group {
    color: floralwhite;
    /*    width: 300px;
    margin-left:auto;
    margin-right:auto;*/
}

.img-thumbnail {
    transition: transform 0.3s; /* Add a smooth transition for zoom effect */
}

.content {
    margin-top: 3rem;
}

.uploaded-images, .thumbnails, .object-images {
    margin-top:5em;
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: darkslategray;
}

.latest-image {
    text-align: center;
    margin-top: 3rem;
}

.latest-image h3 {
    margin-bottom: 2rem;
}

.custom-span {
    font-size: 1em;
    margin-bottom: 3px;
    max-width: 100%;
    word-wrap:anywhere;
}

.backTopBtn {
    text-decoration: none;
    color: black;
    text-align: center;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}

/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style the modal content (the image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
  
}

/* Zoom effect on hover */
.hover-zoom:hover {
    transform: scale(1.2); /* Increase the size of the image on hover */
}


/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Style the images with a cursor pointer for interaction */
.img-thumbnail {
    cursor: pointer;
    height:400px;
    display: block;
    margin: 0 auto;
}

.card-body{
    height:170px;
    display: flex;
    flex-direction:column;
    margin-bottom: 1em;
}
.successMessage{
    margin-top: 1em;
}

/************************************************************/

@media (max-width: 600px) {
    .navbar-toggler {
        display: block;
    }
    .img-thumbnail {
        height: 250px;
    }
}

@media(max-width: 800px){
    .custom-span{
       font-size: 0.6em;
    }
}
@media(max-width: 800px){
    .successMessage {
        font-size: 0.6em;
    }
}
@media(max-width: 500px){
    .successMessage {
        display: none;
    }
}




@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


