@model Lab2_ImageService.Models.ImageUploadModel

@{
    ViewBag.Title = "Image Prediction";
}

<div class="prediction-container">
    <h2>Upload an Image for Prediction or past URL</h2>
    <p>Custom Vision image classification - I'm only 2 years old and know most about fruits, vehicles, and facial emotions.</p>

    <form method="post" enctype="multipart/form-data" asp-action="Index">
        <div class="form-group">
            <label asp-for="ImageFile">Choose a local image:</label>
            <input type="file" asp-for="ImageFile" class="form-control-file">
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl">Or enter an image URL:</label>
            <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Enter url here"/>
        </div>

        <button type="submit" class="btn btn-primary">Predict</button>
    </form>

    <div class="prediction_result">
        @if (!string.IsNullOrEmpty(ViewBag.PredictionResult))
        {
            <div class="alert alert-success">
                <strong>Prediction Result:</strong> @ViewBag.PredictionResult
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                <strong>Error:</strong> @ViewBag.ErrorMessage
            </div>
        }
    </div>
</div>
